<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>light_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,770},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>singleColor.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,788},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>tj_fw1.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,558},{130,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,228}}</string>
                <key>sourceSize</key>
                <string>{130,228}</string>
            </dict>
            <key>ty_di_paper.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,172},{384,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,164}}</string>
                <key>sourceSize</key>
                <string>{384,164}</string>
            </dict>
            <key>ty_di_pic4.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,2},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>ty_tc1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{512,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,304}}</string>
                <key>sourceSize</key>
                <string>{512,304}</string>
            </dict>
            <key>ty_tc1_di1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,992},{640,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{640,30}}</string>
                <key>sourceSize</key>
                <string>{640,32}</string>
            </dict>
            <key>ty_tc2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,824},{166,588}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{166,588}}</string>
                <key>sourceSize</key>
                <string>{168,588}</string>
            </dict>
            <key>ty_tc2_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,172},{596,100}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{596,100}}</string>
                <key>sourceSize</key>
                <string>{596,102}</string>
            </dict>
            <key>ty_tc3.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,2},{168,390}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,390}}</string>
                <key>sourceSize</key>
                <string>{168,390}</string>
            </dict>
            <key>ty_tc3_bt.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,260},{468,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{468,104}}</string>
                <key>sourceSize</key>
                <string>{468,104}</string>
            </dict>
            <key>ty_tc4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{592,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{592,256}}</string>
                <key>sourceSize</key>
                <string>{592,256}</string>
            </dict>
            <key>ty_tc_bt1.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,558},{256,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{256,116}}</string>
                <key>sourceSize</key>
                <string>{258,116}</string>
            </dict>
            <key>ty_tc_bt2.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,172},{258,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,116}}</string>
                <key>sourceSize</key>
                <string>{258,116}</string>
            </dict>
            <key>ty_tc_jl640x292.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,566},{512,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,256}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>ty_yq3Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,788},{126,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{126,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>commonBg.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ab73ad6c98c2f139cc251eaaa525735c:1/1$</string>
            <key>textureFileName</key>
            <string>commonBg.png</string>
        </dict>
    </dict>
</plist>
