<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ef_glow_guangdian_0032_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,278},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ef_glow_guangdian_0033_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ef_glow_guangdian_0034_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,146},{120,118}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{120,118}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ef_guangquan_0034_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,46},{100,98}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,14},{100,98}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ef_liuguang_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,466},{85,44}}</string>
                <key>offset</key>
                <string>{-45,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{85,44}}</string>
                <key>sourceSize</key>
                <string>{175,50}</string>
            </dict>
            <key>ef_liuguang_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,466},{93,44}}</string>
                <key>offset</key>
                <string>{-41,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{93,44}}</string>
                <key>sourceSize</key>
                <string>{175,50}</string>
            </dict>
            <key>ef_liuguang_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{103,42}}</string>
                <key>offset</key>
                <string>{-36,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{103,42}}</string>
                <key>sourceSize</key>
                <string>{175,50}</string>
            </dict>
            <key>ef_liuguang_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,2},{101,42}}</string>
                <key>offset</key>
                <string>{-25,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{101,42}}</string>
                <key>sourceSize</key>
                <string>{175,50}</string>
            </dict>
            <key>ef_liuguang_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,54},{97,40}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,5},{97,40}}</string>
                <key>sourceSize</key>
                <string>{175,50}</string>
            </dict>
            <key>ef_liuguang_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,408},{95,40}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,4},{95,40}}</string>
                <key>sourceSize</key>
                <string>{175,50}</string>
            </dict>
            <key>ef_liuguang_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,466},{89,40}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,5},{89,40}}</string>
                <key>sourceSize</key>
                <string>{175,50}</string>
            </dict>
            <key>ef_liuguang_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,408},{85,32}}</string>
                <key>offset</key>
                <string>{26,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,13},{85,32}}</string>
                <key>sourceSize</key>
                <string>{175,50}</string>
            </dict>
            <key>ef_liuguang_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,360},{79,32}}</string>
                <key>offset</key>
                <string>{38,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,11},{79,32}}</string>
                <key>sourceSize</key>
                <string>{175,50}</string>
            </dict>
            <key>ef_liuguang_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,466},{75,34}}</string>
                <key>offset</key>
                <string>{50,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,9},{75,34}}</string>
                <key>sourceSize</key>
                <string>{175,50}</string>
            </dict>
            <key>ef_liuguang_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,360},{63,32}}</string>
                <key>offset</key>
                <string>{56,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,10},{63,32}}</string>
                <key>sourceSize</key>
                <string>{175,50}</string>
            </dict>
            <key>ef_lizi001_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,406},{82,46}}</string>
                <key>offset</key>
                <string>{-34,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{82,46}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>ef_lizi001_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,148},{108,48}}</string>
                <key>offset</key>
                <string>{-21,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,27},{108,48}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>ef_lizi001_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,266},{126,46}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,27},{126,46}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>ef_lizi001_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{144,42}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,27},{144,42}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>ef_lizi001_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,100},{134,46}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,28},{134,46}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>ef_lizi001_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,314},{124,44}}</string>
                <key>offset</key>
                <string>{13,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,30},{124,44}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>ef_lizi001_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,198},{106,48}}</string>
                <key>offset</key>
                <string>{22,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,27},{106,48}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>ef_lizi001_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,96},{96,50}}</string>
                <key>offset</key>
                <string>{27,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,25},{96,50}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>ef_shanguang_0020_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,248},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{104,104}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ef_shanguang_0079.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,394},{112,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,34},{112,58}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ef_shanguang_0080.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,354},{118,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{118,110}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>guangyun002_256.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{128,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{128,90}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>guangyun003_256_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{252,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{252,50}}</string>
                <key>sourceSize</key>
                <string>{256,50}</string>
            </dict>
            <key>guangyun004_256.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,54},{150,84}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{150,84}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>guangyun005_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{150,96}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{150,96}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>taiyangguang0074.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,148},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ef_ui_texture002.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:69e77ef6d65c32af6d89dfa10919c4e4$</string>
            <key>textureFileName</key>
            <string>ef_ui_texture002.png</string>
        </dict>
    </dict>
</plist>
