<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ef_glow_guangdian_0032_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ef_guangquan_0024_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,627},{224,224}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,15},{224,224}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ef_shanguang_0019_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,786},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,48},{160,160}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ef_shenglishibaijiesuan_shengliguguang_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,206},{50,82}}</string>
                <key>offset</key>
                <string>{-63,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,210},{50,82}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>ef_shenglishibaijiesuan_shengliguguang_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,88},{66,84}}</string>
                <key>offset</key>
                <string>{-54,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,208},{66,84}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>ef_shenglishibaijiesuan_shengliguguang_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,764},{82,84}}</string>
                <key>offset</key>
                <string>{-46,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,208},{82,84}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>ef_shenglishibaijiesuan_shengliguguang_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,678},{98,84}}</string>
                <key>offset</key>
                <string>{-38,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,209},{98,84}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>ef_shenglishibaijiesuan_shengliguguang_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,896},{118,86}}</string>
                <key>offset</key>
                <string>{-29,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,207},{118,86}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>ef_shenglishibaijiesuan_shengliguguang_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,896},{126,86}}</string>
                <key>offset</key>
                <string>{-25,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,206},{126,86}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>ef_shenglishibaijiesuan_shengliguguang_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,616},{152,86}}</string>
                <key>offset</key>
                <string>{-12,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,206},{152,86}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>ef_shenglishibaijiesuan_shengliguguang_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,448},{166,86}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,206},{166,86}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>ef_shenglishibaijiesuan_shengliguguang_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,526},{172,86}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,206},{172,86}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>ef_shenglishibaijiesuan_shengliguguang_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,352},{172,86}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,206},{172,86}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>ef_shenglishibaijiesuan_shengliguguang_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,178},{172,86}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,206},{172,86}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>ef_shenglishibaijiesuan_shengliguguang_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,448},{168,86}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,206},{168,86}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>ef_shenglishibaijiesuan_shengliguguang_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,853},{168,86}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,206},{168,86}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>ef_shenglishibaijiesuan_shengliguguang_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,618},{166,86}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,206},{166,86}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>ef_shenglishibaijiesuan_shengliguguang_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,448},{150,84}}</string>
                <key>offset</key>
                <string>{12,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,207},{150,84}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>ef_shenglishibaijiesuan_shengliguguang_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,890},{132,84}}</string>
                <key>offset</key>
                <string>{21,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,207},{132,84}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>ef_shenglishibaijiesuan_shengliguguang_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,896},{118,84}}</string>
                <key>offset</key>
                <string>{28,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,207},{118,84}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>ef_shenglishibaijiesuan_shengliguguang_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,678},{94,84}}</string>
                <key>offset</key>
                <string>{40,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,206},{94,84}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>ef_shenglishibaijiesuan_shengliguguang_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,848},{80,84}}</string>
                <key>offset</key>
                <string>{47,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{257,206},{80,84}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>ef_shenglishibaijiesuan_shengliguguang_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,2},{66,84}}</string>
                <key>offset</key>
                <string>{54,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{271,206},{66,84}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>ef_shenglishibaijiesuan_shengliguguang_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,290},{50,78}}</string>
                <key>offset</key>
                <string>{62,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{287,207},{50,78}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>ef_shenglishibaijiesuan_shengliguguang_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,174},{30,52}}</string>
                <key>offset</key>
                <string>{71,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{306,208},{30,52}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>guangyun002_256.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,445},{256,180}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,39},{256,180}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>sb_di1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{349,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{349,174}}</string>
                <key>sourceSize</key>
                <string>{349,174}</string>
            </dict>
            <key>sb_di2_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,175},{268,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{268,268}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>sb_zi01_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,563},{113,114}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,114}}</string>
                <key>sourceSize</key>
                <string>{115,114}</string>
            </dict>
            <key>sb_zi02_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,448},{113,114}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{113,114}}</string>
                <key>sourceSize</key>
                <string>{115,114}</string>
            </dict>
            <key>sl_cb.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,700},{155,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,188}}</string>
                <key>sourceSize</key>
                <string>{155,188}</string>
            </dict>
            <key>sl_cb_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,692},{202,234}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,12},{202,234}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>sl_di1.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,2},{316,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{316,171}}</string>
                <key>sourceSize</key>
                <string>{316,171}</string>
            </dict>
            <key>sl_di2_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,166},{280,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{280,280}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>sl_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,890},{231,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,115}}</string>
                <key>sourceSize</key>
                <string>{231,115}</string>
            </dict>
            <key>sl_zi_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,2},{282,162}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,17},{282,162}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>taiyangguang0073.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,436},{254,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{254,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ef_jiemian_sl_sb.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a5601e8c8874c4a959c7fe0ce83487f2$</string>
            <key>textureFileName</key>
            <string>ef_jiemian_sl_sb.png</string>
        </dict>
    </dict>
</plist>
