<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ef_qifu_liuguang4_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>ef_qifu_liuguang4_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>ef_qifu_liuguang4_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>ef_qifu_liuguang4_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{150,148}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,148}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>ef_qifu_liuguang4_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,154},{150,144}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,144}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>ef_qifu_liuguang4_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{150,138}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,138}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>ef_qifu_liuguang4_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,386},{142,118}}</string>
                <key>offset</key>
                <string>{-4,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,118}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>ef_qifu_liuguang4_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,386},{116,104}}</string>
                <key>offset</key>
                <string>{-17,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,104}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>ef_qifu_liuguang4_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,380},{98,88}}</string>
                <key>offset</key>
                <string>{-26,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{98,88}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>ef_qifu_liuguang4_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,142},{80,70}}</string>
                <key>offset</key>
                <string>{-35,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{80,70}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>ef_qifu_liuguang4_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{50,52}}</string>
                <key>offset</key>
                <string>{-44,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,24},{50,52}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>guangyun004_256.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,300},{150,84}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{150,84}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>gunag22_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,270},{108,110}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,7},{108,110}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>gunag23_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,142},{126,126}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,126}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>yanwu001_021_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,270},{90,84}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,23},{90,84}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ef_qifu2.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e3c74e5d552a069767e30156ec13650a$</string>
            <key>textureFileName</key>
            <string>ef_qifu2.png</string>
        </dict>
    </dict>
</plist>
